name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: ["3.6", "3.7", "3.8"]
        django: ["2.2", "3.0", "3.1"]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python }}
      - name: Install dependencies
        run: python -m pip install -r requirements.txt
      - name: Install Django matrix version
        run: python -m pip install django~=${{ matrix.django }}
      - name: Run black
        run: black . --check
      - name: Run flake8
        run: flake8 --count --show-source --statistics
      - name: Run isort
        run: isort -c
      - name: Run tests
        run: python runtests.py
